%title Dashboard
%div.main-content
  %h1 Recent Activities
  %div.container
    %ul
      %li
        %img{:src => "https://randomuser.me/api/portraits/med/men/11.jpg"}
        %span Joe edited the menu 3 hours ago
      %li
        %img{:src => "https://randomuser.me/api/portraits/med/men/1.jpg"}
        %span Jack edited the menu 4 hours ago
      %li
        %img{:src => "https://randomuser.me/api/portraits/med/women/11.jpg"}
        %span Ruth edited menu 6 hours ago
%script
  $("#nav-toggle").click(function() {
  $(".main-content").toggleClass('toggle-menu');
  });
