%header
  %img{:src => "https://snyk.io/images/snyk-dog.svg"}
%ul.navigation
  %li.user
    %i.settings.fa.fa-cog
    %img{:src => "https://randomuser.me/api/portraits/med/women/19.jpg"}
    %h2 Jane Doe
  %li
    %a{:href => "/"}
      %i.fa.fa-tachometer
      Dashboard
  %li
    %a{:href => "/menu"}
      %i.fa.fa-list-ol
      Menus
  %li
    %a
      %i.fa.fa-cutlery
      Products
  %li
    %a{:href => "/add_model"}
      %i.fa.fa-plus
      Add Model
%div.clearboth
%input#nav-toggle.nav-toggle(type="checkbox")
%label.fa.fa-bars(for="nav-toggle")
