%header
  %img{:src => "http://www.stolle.xyz/assets/logo-54dd180d2630378c6792c570f452a18d.svg"}
%ul.navigation
  %li.user
    %i.settings.fa.fa-cog
    %img{:src => "https://randomuser.me/api/portraits/med/women/19.jpg"}
    %h2 Jane Doe
  %li
    %a
      %i.fa.fa-tachometer
      Dashboard
  %li
    %a
      %i.fa.fa-list-ol
      Menus
  %li
    %a
      %i.fa.fa-cutlery
      Products
  %li
    %a
      %i.fa.fa-plus
      Add Section

%input#nav-toggle.nav-toggle(type="checkbox")
%label.fa.fa-bars(for="nav-toggle")
